html{
  font-size: 20px;
}

body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  text-align: center;
  font-size: 10rem;
}

.score{
  background-color:rgba(0,0,0,0.1);
  padding: 0 10px;
  border-radius: 5px;
}

.game{
  width: 600px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;

}

.hole{
  flex: 1 0 33.33%;
  position: relative;
}

.hole:after{
  display: block;
  background: url('./pool_water.jpg') bottom center no-repeat;
  background-size: contain;
  content: '';
  width: 100%;
  height: 70px;
  position: absolute;
  z-index: 2;
  bottom: -30px;
}

.mole{
  background: url('./Github_img.png') bottom center no-repeat;
  background-size: 60%;
  position: absolute;
  top: 100%;
  width: 100%;
  height: 100%;
  transition: all 0.4s;
}