body{
  font-size: 10px;
  box-sizing: border-box;
  margin: 0;
  text-align: center;
  background-color: rgba(23, 168, 252, 0.705);
}

.timer{
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.timer_controls{
  display: flex;
  margin-top: 10px;
}

.timer_controls > *{
  flex: 1;
}

.timer_controls form{
  flex: 1;
  display: flex;
}

.timer_controls input{
  flex: 1;
  padding: 20px;
}

.display_time-left{
  font-weight: 700;
  font-size: 5rem;
}

.timer_button{
  cursor: pointer;
  color: rgb(16, 64, 151);
  font-size: 2rem;
}

.timer_button:hover,
.timer_button:focus {
  background:rgba(0,0,0,0.2);
  outline:0;
}

.display{
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
